<ion-view class="security login">
    <!-- HEADER -->
    <div class="title">
        ANSMobile
    </div>
    <div class="legend">
        
    </div>
    <!-- BUTTON'S -->
    <div class="buttons">
        <button class="button button-block" ng-click="login('ingresar')">       
            <i class="icon ion-android-walk"></i>
            <span>Ingresar</span>
        </button>
        <!-- NO-SOCIAL REGISTER -->
        <div class="register">
            Registrarme con el <a ng-click="login('email')">Email</a>
        </div>
    </div>
</ion-view>
