<ion-view title="Inicio" class="home">
    <!-- LOADING -->
    <flex-loading ng-if="!dashboard" title="Cargando Resumen..." legend="">
    </flex-loading>
    <!-- CONTENT -->
    <div ng-if="dashboard">
        <ion-content>
            
        </ion-content>
        <!-- FOOTER -->
        <ion-footer-bar>
            <!--
            <button class="button button-block" ng-click="create();">
                <i class="icon ion-android-stopwatch"></i>
                <span>Iniciar Sesión</span>
            </button>
            -->
        </ion-footer-bar>
    </div>
</ion-view>
